# Example CALICO config (key: value). CLI flags override these.
charuco: 1
calibrate: 1
summary: 1
json: 1
progress: 1
checkpoint: 1
no-debug-images: 1
detection-summary: 1
num-threads: 8
perc-ae: 0.2
perc-rp: 0.5
# use-cuda: 1
# ingest-intrinsics: /docker_dir/DATA/mult-3-base/intrinsics
